@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

body {
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  line-height: 1.8;
}

*{
  box-sizing: border-box;
}

.title{
  font-family: 'Raleway', sans-serif;
}


/*Flexbox containers*/
.title{
  text-align: center;
  padding: 10px; 
  font-size: 1.5em;
}

.flex-container{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item{
  flex: auto;
  padding-top: 45px;
  margin: 20px;
}


/*Products Section*/
.products-container{
  text-align: center;
}
.products-container i{
  color: white;
  background-color: #3f704d;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 #9DC183;
}

.mobile{
  height: 120px;
  width: 120px;
}



/*Flip Products Cards*/

.flip-card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 100px;
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  position: relative;
  top: -170px;
  transform: rotateY(180deg);
}

.back-icon{
  opacity: 0.1;
  z-index: -1;
  position: relative;
  bottom: 130px;
}

/*Pricing section*/

.price-container{
  text-align: center;
  margin-top: 150px;
  border-top: 1px #9DC183 solid;
}

table, td {
  border: 1px solid lightgray}

table{
  border-collapse: collapse;
  box-shadow: 0 2px 4px 0 #9DC183;
  margin-left: auto;
  margin-right: auto;
}

td{
  padding: 16px;
}

/*Popup chat*/
.open-chat{
  position: fixed;
  bottom: 160px;
  right: 10px;
  width: 10px;
  border-radius: 90%;
  background-color: transparent;
}

.chat-popup{
  display: none;
  position: fixed;
  bottom: 10px;
  right: 15px;
  border: 2px solid #3f704d;
  z-index: 9;
}

.chat-container{
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.chat-container textarea{
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.chat-popup button{
  width: 100px;
  height: 30px;
  font-size: smaller;
}


/*SignUp Section*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Add padding to container elements */
.modal-container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #3f704d;
  cursor: pointer;
}


/*Media Queries*/
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  #chat-icon{
    font-size: 1.5rem;
  }
}